section.section--cv {
    margin: 0 0 3rem 0;
    display: block;
    position: relative;
}
section.section--cv h2 {
    margin-bottom: 3rem;
}
section.section--cv .h3 {
    font-family: 'Bitter';
    font-weight: 400;
    font-size: 1.6em;
    margin-bottom: 5px;
}
section.section--cv .h4 {
    font-size: 1.4em;
}
section.section--cv .item {
    margin-bottom: 3rem;
}
section.section--cv.section--volunteer .h4 {
    font-size: 1.1em;
    color: var( --p-p );
    margin-bottom: 10px;
}
section.section--cv.section--volunteer .h3 {
    font-size: 1.4em;
    font-weight: 500;
}
section.section--cv.section--portfolio a {
    display: inline-block;
    position: relative;
    width: 100%;
    font-weight: 500;
    margin-bottom: 5px;
}