.page-home form input[type="submit"] {
    margin-bottom: 0px;
}
.page-home form textarea {
    margin-bottom: 0px;
}

/* Sitewide Placeholder Styles  */

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: var( --p-p );
        font-family: var( --open );
        font-size: 0.75em;
        text-transform: uppercase;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: var( --p-p );
        font-family: var( --open );
        font-size: 0.75em;
        text-transform: uppercase;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: var( --p-p );
        font-family: var( --open );
        font-size: 0.75em;
        text-transform: uppercase;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: var( --p-p );
        font-family: var( --open );
        font-size: 0.75em;
        text-transform: uppercase;
    }

/* Autofill Used Styles  */

    input:-internal-autofill-selected {
    }

/* Sitewide Input Styles */

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea {
        margin-bottom: 16px;
        padding: 8px;
        font-family: 'Bitter';
        border: 1px solid var( --t );
        border-radius: 10px;
        color: var( --s-h );
        box-shadow: none;
        font-size: 1em;
        position: relative;
        width: calc( 100% - 16px );
        max-width: 550px;
        background: var( --s-h );
        color: var( --p-p );
    }
    textarea {
        resize: vertical;
    }

    input[type="text"]:focus-visible,
    input[type="email"]:focus-visible,
    input[type="tel"]:focus-visible,
    input[type="password"]:focus-visible,
    textarea:focus-visible{
        outline: 1px solid var( --s-a );
    }

    form .row > div > * {
        display: block;
        position: relative;
    }
    .hidelabel label {
        visibility: hidden;
        overflow: hidden;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
        position: absolute;
    }

/* Buttons */

    /* BUTTON */
    .btn,
    .btn:visited,
    input[type="submit"] {
        display: inline-block;
        padding: 0.5em 1.25em;
        border-radius: 0.25em;
        margin-bottom: 1em;
        text-decoration: none;
        font-size: 0.95em;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-family: var( --open );
    }

    /* BUTTON OUTLINED */
    a.btn.btn-outline,
    input[type="submit"].btn-outline {
        background: var(--t);
        border: 1px var(--p-p) solid;
        color: var(--p-p);
        }
        a.btn.btn-outline:hover,
        input[type="submit"].btn-outline:hover {
            background: var(--t);
            border: 1px var(--p-h) solid;
            color: var(--p-h);
        }

    .s-bg a.btn.btn-outline,
    input[type="submit"].btn-outline{
        }
        .s-bg a.btn.btn-outline:hover,
        input[type="submit"].btn-outline:hover {
            background: var(--t);
            border: 1px var(--s-h) solid;
            color: var(--s-h);
        }

    /* BUTTON SOLID */
    a.btn.btn-solid,
    input[type="submit"] {
        background: var(--p-p);
        border: 1px var(--p-p) solid;
        color: var(--s-h);
        }

        a.btn.btn-solid:hover,
        input[type="submit"]:hover {
            background: var(--t);
            border: 1px var(--p-h) solid;
            color: var(--p-h);
        }

    .s-bg a.btn.btn-solid:hover,
    .s-bg input[type="submit"]:hover {
        background: var(--t);
        border: 1px var(--s-h) solid;
        color: var(--s-h);
    }


/* btn alignment */
    .btn.align-center {
        text-align: center;
        margin: 0 auto;
        position: relative;
        display: block;
        width: 10rem;
    }
    a.btn.align-right {
        float: right;
    }


/* Styled Select */

    div.select {
        position: relative;
        display: block;
        width: calc( 100% - 2px);
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    div.select select {
        background: var(--t);
        color: var(--grey);
        display: inline-block;
        position: relative;
        padding: 12px 30px 12.45px 10px;
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        width: calc( 100% );
        z-index: 1;
        font-size: 0.88em;
    }
    div.select:after {
        content: '\25BC';
        color: var(--grey);
        opacity: 0.5;
        background: var(--t);
        display: block;
        position: absolute;
        width: 30px;
        height: calc( 100% - 27px );
        top: 0px;
        right: 0px;
        padding: 14px 0px 0px 0px;
        z-index: 0;
        text-align: center;
        font-size: 0.55em;
    }