[data-active="false"] {
  display: none;
}
.page-entry form .row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
}
.page-entry form .row > div {
  flex: 1;
}