:root {

    --t: transparent;
    --w: #ffffff;
    --tw: #ffffff80;
    --b: #000000;
    --tb: #00000080;

	--p-bg : #373b37; /*lunar green*/
	--s-bg : #b18282; /*brandy rose*/

	--p-h : #b18282;
	--s-h : #373b37;

	--p-p : #ddf1ff;
	--s-p :	#def1ff;

	--p-a : #33a4f8;
	--s-a : #9dcff4;

	--open : 'Open Sans';
	--bitter : 'Bitter';

}

.p-bg{ background: #373b37; }
.s-bg{ background: #b18282; }

.p-h{ color: #373b37; }
.s-h{ color: #b18282; }

.p-p{ color: #ddf1ff; }
.s-p{ color: #def1ff; }

.p-a{ color: #33a4f8; }
.s-a{ color: #9dcff4; }

body {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 1em;
	background: var( --p-bg );
}
.h0, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p, a, ul, ol, span {
    max-width: 665px;
	margin: 0 0 1rem 0;
	line-height: 1em;
}

ul {
    display: block;
    position: relative;
    margin: 1rem 0;
    padding: 0 0 0 1.2rem;
}
ul.unstyled { padding: 0; }
ul li {
	margin-bottom: 0.5rem;
	line-height: 1.4em;
}
ul.unstyled li { list-style: none; }

.h0, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{
	font-family: 'Open Sans';
    font-weight: 900;
    color: var( --p-h );
	}
	.s-bg .h0,
	.s-bg h1, .s-bg .h1,
	.s-bg h2, .s-bg .h2,
	.s-bg h3, .s-bg .h3,
	.s-bg h4, .s-bg .h4,
	.s-bg h5, .s-bg .h5 {
		color: var( --s-h );
	}


    .h0 {font-size: 3em; }
h1, .h1 {font-size: 3em; }
h2, .h2 {font-size: 1.8em; }
h3, .h3 {
	font-size: 1.3em;
    font-weight: 100;
}
h4, .h4 {
	font-size: 1.15em;
    text-transform: uppercase;
}
h5, .h5 {
	font-size: 1em;
    text-transform: uppercase;
}
	@media only screen and (min-width: 48rem) {
		.h0 {
			font-size: 5em;
		}
		h1, .h1 {
			font-size: 4em;
		    letter-spacing: -0.0345em;
		}
		h2, .h2 {
		    font-size: 2.5em;
		    letter-spacing: -0.0345em;
		}
		h3, .h3 {
			font-size: 1.4em;
			font-weight: 100;
		}
		h4, .h4 {
			font-size: 1.5em;
		}
		h4, .h4 {
			font-size: 1.15em;
		}
	}

p, ul, ol, span{
	font-family: 'Bitter';
	color:  var( --p-p );
	font-weight: 300;
	}
	.s-bg p, .s-bg ul, .s-bg ol, .s-bg span {
		color: var( --s-p );
	}

p {
    font-weight: 300;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: var(--p-a);
    font-weight: 400;
    line-height: 1.4em;
	}
	.s-bg a {
		color: var( --s-a );
	}
a:hover {
	color: var( --s-a );
	}
	.s-bg a:hover {
		color: var( --p-a );
	}
a:visited, .link:visited {}
	@media only screen and (min-width: 48rem) {}


.p { font-size: 1em; font-weight: 400; }
.p-large { font-size:1.3em; }
.p-small { font-size:0.85em; }
.caption { font-size:0.85em; text-transform: uppercase; }
.terms	{ font-size:0.75em; }
.strike	{ text-decoration: line-through;}
.uppercase { text-transform: uppercase; }
	@media only screen and (min-width: 48rem) {}


.align-center { text-align:left; }
.align-center-mobile { text-align:center; }
.align-right { text-align:left; }
.align-right-mobile {text-align:right;}
	@media only screen and (min-width: 48rem) {
		.align-center, .align-center-mobile {
			text-align:center;
			margin-left: auto;
    		margin-right: auto;
		}
		.align-right, .align-right-mobile { text-align:right; }
	}


.show-mobile {display:block;}
.show-desktop {display:none;}
	@media only screen and (min-width: 48rem) {
		.show-mobile {display:none;}
		.show-desktop {display:block;}
	}


.inline-block {
	display: inline-block;
}
	@media only screen and (min-width: 48rem) {}


.block {
	display: block;
}
	@media only screen and (min-width: 48rem) {}


img {
	position: relative;
	max-width: 100%;
	height: auto;
	margin: 0 1rem 1rem 0;
}
img.alignnone,
img.alignright,
img.alignleft,
img.aligncenter {
	display: block;
}
	@media only screen and (min-width: 48rem) {
		img.alignright {
			margin: 0 0 1rem 1rem;
			float: right;
		}
		img.alignleft {
			margin: 0 1rem 1rem 0;
			float: left;
		}
		img.aligncenter {
			margin: 1rem auto 1rem auto;
		}
	}

span.link-spanner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}


.blockquote {
    float: right;
    font-size: 2rem;
    border-style: solid;
    border-width: 0 0 0 10px;
    margin: 0 1rem 1.5rem 4rem;
    padding-left: 15px;
    max-width: 500px;
}

.container-small,
.container, .container-normal,
.container-wide {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: 0 auto;
	}
	.container-small {
		max-width: 700px;
	}
	.container,
	.container-normal {
		max-width: 1000px;
	}
	.container-wide {
		max-width: 100%;
	}


#icon{
	background-image: url(/webstuffdepot/images/tree.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 150px;
    min-height: 150px;
    display: inline-block;
    border-radius: 5px;
    padding: 0;
    margin: 0 !important;
}

body nav{
    margin: 0;
}
body.page-home nav {
    margin: 2rem 0 2rem;
}
body:not(.page-home) nav::before,
body:not(.page-home) nav::after {
    content: '';
    position: relative;
    display: block;
    background: #33a4f7;
    width: 60%;
    margin: 15px auto 0;
    padding: 2px 0;
    border-radius: 10px;
}

hr {
    position: relative;
    display: block;
    background: #33a4f7;
    width: 60%;
    margin: 1em auto 1em;
    padding: 2px 0;
    border-radius: 10px;
    max-width: 667px;
    box-shadow: none;
    border: none;
}
hr.stacked + hr.stacked {
    margin: 1em auto 4em;
}

nav ul { }
	nav ul li {
	    display: inline-block;
		margin: 0 !important;
        vertical-align: middle;
		}
		nav ul li a {
			margin: 0 !important;
			text-decoration: none;
			text-transform: uppercase;
		    padding: 0.25rem 1rem;
		    color: var( --p-a );
			}
			nav ul li a span {
			    padding: 0;
			    color: var( --p-a );
			}
		nav ul li a.icon {
			display: inline-block;
			position: relative;
			height: 32px;
			width: 32px;
			}
			nav ul li a svg {
				height: 100%;
				width: 100%;
			}

nav a,
nav a span {
	color: var( --s-a );
}

.icon {
	background: var( --t );
	border-radius: 100%;
	color: var( --p-a );
	fill: var( --p-a );
	}
	.icon:hover {
		background: var( --t );
		color: var( --p-a );
		fill: var( --p-a );
		}
		.github {
			background: var( --t );
			color: var( --p-a );
			fill: var( --p-a );
			}
			.github:hover {
				background: var( --t );
				color: var( --t );
				fill: #6441a5;
			}
		.linkedin{
			}
			.linkedin:hover {
				color: #007BB6;
				fill: #007BB6;
			}
		.stackoverflow{
			}
			.stackoverflow:hover {
				color: #fe7a15;
				fill: #fe7a15;
			}
		.wordpress{
			}
			.wordpress:hover {
				color: #0073aa;
				fill: #0073aa;
			}

.item--main, .item--aside {
	margin: 0 0 5rem 0;
}

.item--inner {
    background: #ffffff0d;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}
.s-bg .item--inner {
    background: #373b3717;
}

main {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

aside {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

footer {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.work-items li h4 {
	margin-bottom: 5px;
}
.work-items li p > span{
    display: block;
    color: var(--p-h);
    font-size: 1.2em;
    font-weight: 500;
}


.footer .credits {
    padding: 3rem 0;
    margin: 3rem 0;
    display: block;
    position: relative;
}
.footer .credits p {
    margin-top: 8rem;
}

.page-default .aside--item {
    padding: 2rem 0;
}
.page-default .aside--item img {
    max-width: 100%;
    max-height: 490px;
	margin:0 auto;
	display:block;
    border-radius: 0.5em;
}