.mt0, .mt5, .mt10, .mt15, .mt20, .mt25, .mt30, .mt35, .mt40, .mt45, .mt50, { margin-top: 10px; }
.mb0, .mb5, .mb10, .mb15, .mb20, .mb25, .mb30, .mb35, .mb40, .mb45, .mb50, { margin-bottom: 10px; }
@media only screen and (min-width: 48rem) {
	.mt0 { margin-top:0px; }
	.mt5 { margin-top:5px; }
	.mt10 { margin-top:10px; }
	.mt15 { margin-top:15px; }
	.mt20 { margin-top:20px; }
	.mt25 { margin-top:25px; }
	.mt30 { margin-top:30px; }
	.mt35 { margin-top:35px; }
	.mt40 { margin-top:40px; }
	.mt45 { margin-top:45px; }
	.mt50 { margin-top:50px; }

	.mb0 { margin-bottom:0px; }
	.mb5 { margin-bottom:5px; }
	.mb10 { margin-bottom:10px; }
	.mb15 { margin-bottom:15px; }
	.mb20 { margin-bottom:20px; }
	.mb25 { margin-bottom:25px; }
	.mb30 { margin-bottom:30px; }
	.mb35 { margin-bottom:35px; }
	.mb40 { margin-bottom:40px; }
	.mb45 { margin-bottom:45px; }
	.mb50 { margin-bottom:50px; }
}