.pt0, .pt5, .pt10, .pt15, .pt20, .pt25, .pt30, .pt35, .pt40, .pt45, .pt50,  { padding-top:10px !important; }
.pb0, .pb5, .pb10, .pb15, .pb20, .pb25, .pb30, .pb35, .pb40, .pb45, .pb50,  { padding-bottom:10px !important; }
@media only screen and (min-width: 48rem) {
	.pt0 { padding-top:0px !important; }
	.pt5 { padding-top:5px !important; }
	.pt10 { padding-top:10px !important; }
	.pt15 { padding-top:15px !important; }
	.pt20 { padding-top:20px !important; }
	.pt25 { padding-top:25px !important; }
	.pt30 { padding-top:30px !important; }
	.pt35 { padding-top:35px !important; }
	.pt40 { padding-top:40px !important; }
	.pt45 { padding-top:45px !important; }
	.pt50 { padding-top:50px !important; }

	.pb0 { padding-bottom:0px !important; }
	.pb5 { padding-bottom:5px !important; }
	.pb10 { padding-bottom:10px !important; }
	.pb15 { padding-bottom:15px !important; }
	.pb20 { padding-bottom:20px !important; }
	.pb25 { padding-bottom:25px !important; }
	.pb30 { padding-bottom:30px !important; }
	.pb35 { padding-bottom:35px !important; }
	.pb40 { padding-bottom:40px !important; }
	.pb45 { padding-bottom:45px !important; }
	.pb50 { padding-bottom:50px !important; }
}